html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f0eee8;
}

section {
  border: 2px solid #9a816d;
  border-radius: 3px;
  width: 330px;
  max-width: 330px;
  background-color: #dcd4cd;
}

.link-card {
  text-decoration: none;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  display: block;
  color: #512200;
  font-size: 1.5rem;
  margin: 1rem;
}

.first p {
  color: #512200;
  font-size: 1.125rem;
  margin: 1rem;
}

.second {
  font-family: Georgia, serif;
  display: block;
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  margin: 0 1rem;
}

dl {
  list-style-type: none;
  color: #512200;
  font-size: .875rem;
}

dt {
  width: 30%;
  display: inline-block;
}

dd {
  width: 30%;
  display: inline-block;
}

.third p {
  text-align: center;
  display: block;
  color: #f0eee8;
  background-color: #785439;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 8px;
  font-size: 1.125rem;
  padding: .4em .75em .5em;
  margin: 1rem 5.8rem;
}

.link-card:hover {
  background-color: #9a816d;
}

section:hover {
  background-color: #cabdb2;
}

.link-card:hover .btn {
  background-color: #512200;
}
