html {
  box-sizing: border-box;
  font-family: georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f0eee8;
}

section {
  border: 2px solid #9a816d;
  border-radius: 3px;
  width: 250px;
  max-width: 250px;
  background-color: #cabdb2;
}

.link-card {
  text-decoration: none;
}

.first h2 {
  font-family: Dosis, sans-serif;
  display: block;
  color: #512200;
}

.first p {
  color: #512200;
}

.second {
  font-family: georgia, serif;
  display: block;
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
}

.second ul:first-child {
  display: inline-block;
}

.second ul:last-child {
  display: inline-block;
}

.third p {
  text-align: center;
  display: block;
  color: #f0eee8;
  background-color: #785439;
  font-weight: bold;
  font-family: georgia, serif;
  border-radius: 8px;
}
